@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #4a4747;
  --border: #d7d7d5;
  --yellow: #ffb000;
  --green: #25b79f;
  --red: 255 88 91;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
